tr {
    text-decoration: none;
    /*font-size: 15px;*/
    text-align: center;
    border: 2px black solid;
    border-spacing: 0;
    border-collapse: separate;
    /*background: none repeat scroll 0 0 #FAFAFA;*/
    margin: 0px 0;
    padding: 0;
}

th {
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    border: 2px rgba(164, 54, 33, 0.76) solid;
    border-spacing: 0;
    border-collapse: separate;
    background: none repeat scroll 0 0 #faccbb;
    margin: 0px 0;
    padding: 0;
}

td {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    border: 2px #c9a078 solid;
    border-spacing: 0;
    border-collapse: separate;
    /*background: none repeat scroll 0 0 #FAFAFA;*/
    margin: 6px;
    padding: 6px;
}

TR:hover {
    background: #def4f6;
}

