<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head  th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link  th:href="@{/css/parsing.css}" rel="stylesheet" />
    <title>KIY-V Pro</title>
</head>

<body>
<div th:insert="~{fragments/header :: navbar}"> </div>
<h1 class="col-md-10" style="text-align: center">Р А С П Р Е Д Е Л Е Н И Е&nbsp; &nbsp;&nbsp; &nbsp;З А К А З О В</h1>

<hr>

<div class="row justify-content-center">
    <h3 class="col-md-8 col-lg-8 col-xl-8">
        <a href="#" th:href="'/ceh/pars/page?p=' + ${page - 1}">Prev</a>
        <span th:text="' [Стр. '+ ${page} + '] '"/>
        <a href="#" th:href="'/ceh/pars/page?p=' + ${page + 1}">Next</a>
    </h3>
    <br>
    <table class="table table-bordered text-center col-md-8 col-lg-8 col-xl-8" id="order-table">
        <thead class="thead-light">
            <tr style="border: 2px #000000 solid">
                <th width="10.0%">№<br>заказа</th>
                <th scope="col" width="20%">Клиент</th>
                <th scope="col" width="9.0%">Менеджер</th>
                <th scope="col" width="7.0%">Поступил на<br>распределение</th>
                <th scope="col" width="4.0%">Количество<br>позиций</th>
                <th scope="col">Описание первой позиции</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="item,step : ${orders}" th:id="${item.idDoc}" onclick="setIdOrder(this);setSelectStyle();">
                <td scope="row">
                    <input type="hidden" value="#" th:value="${item.idDoc}"/>
                    <span class="idDoc" th:text="${item.journal.docNumber}"></span>
                </td>
                <td th:text="${item.client.name}"></td>
                <td th:text="${item.manager.name}"></td>
                <td th:text="${item.shortStringDate}"></td>
                <td th:text="${item.size}"></td>
                <td th:text="${item.firstDescription.descr}"></td>
            </tr>
        </tbody>
    </table>
</div>


<div>
    <form action="#" th:action="@{/ceh/pars/apply}" method="post" th:object="${supperOrder}">
        <div class="row justify-content-center">
            <table class="table table-bordered text-center col-md-8 col-lg-8 col-xl-8">  <!-- class="table table-bordered text-center"-->
                <thead class="thead-light">
                    <tr>
                        <th scope="col" rowspan="2">Номер<br>позиции</th>
                        <th scope="col" rowspan="2">Описание</th>
                        <th scope="col" width="18.0%" rowspan="2">Габаритные размеры<br>(длина/ширина/высота)</th>
                        <th scope="col" rowspan="2">Коли-<br>чество</th>
                        <th scope="col" colspan="4">Тип позиции</th>
                    </tr>
                    <tr>
                        <th scope="col" width="7.0%">Ц Е Х</th>
                        <th scope="col" width="7.0%">К Б</th>
                        <th scope="col" width="9.0%">Технологич</th>
                        <th scope="col" width="8.0%">Прочее</th>
                    </tr>
                </thead>
                <tbody id="description-table-1">
                    <tr th:each="items,step : ${supperOrder.descriptions}"
                                th:class="${items.idDoc + ' descr-hidden'}" th:id="${items.idDoc+'-'+items.position}">
                        <input type="hidden" th:name="${'descriptions[' + step.index + '].autoId'}" th:value="${items.autoId}"/>
                        <input type="hidden" th:name="${'descriptions[' + step.index + '].idDoc'}" th:value="${items.idDoc}"/>
                        <input type="hidden" th:name="${'descriptions[' + step.index + '].position'}" th:value="${items.position}"/>
                        <input type="hidden" th:name="${'descriptions[' + step.index + '].idTmc'}" th:value="${items.idTmc}"/>
                        <input type="hidden" th:name="${'descriptions[' + step.index + '].quantity'}" th:value="${items.quantity}"/>
                        <input type="hidden" th:name="${'descriptions[' + step.index + '].descrSecond'}" th:value="${items.descrSecond}"/>
                        <input type="hidden" th:name="${'descriptions[' + step.index + '].sizeA'}" th:value="${items.sizeA}"/>
                        <input type="hidden" th:name="${'descriptions[' + step.index + '].sizeB'}" th:value="${items.sizeB}"/>
                        <input type="hidden" th:name="${'descriptions[' + step.index + '].sizeC'}" th:value="${items.sizeC}"/>
                        <input type="hidden" th:name="${'descriptions[' + step.index + '].idEmbodiment'}" th:value="${items.idEmbodiment}"/>
                        <input type="hidden" th:name="${'descriptions[' + step.index + '].price'}" th:value="${items.price}"/>
                        <td th:text="${items.position}"></td>
                        <td th:text="${items.descr}"></td>
                        <td th:text="${items.sizeA+'×'+items.sizeB+'×'+items.sizeC}"></td>
                        <td th:text="${items.quantity}"></td>
                        <td> <input type="radio" th:name="${'descriptions[' + step.index + '].typeName'}" th:value="TYPE_CEH"
                                    th:checked="${items.typeName =='TYPE_CEH'}"/> </td>
                        <td> <input type="radio" th:name="${'descriptions[' + step.index + '].typeName'}" th:value="TYPE_KB"
                                    th:checked="${items.typeName =='TYPE_KB'}"/> </td>
                        <td> <input type="radio" th:name="${'descriptions[' + step.index + '].typeName'}" th:value="TYPE_TEHN"
                                    th:checked="${items.typeName =='TYPE_TEHN'}" /> </td>
                        <td> <input type="radio" th:name="${'descriptions[' + step.index + '].typeName'}" th:value="TYPE_OTHER"
                                    th:checked="${items.typeName =='TYPE_OTHER'}" /> </td>
                        <input type="radio" th:name="${'descriptions[' + step.index + '].typeName'}" th:value="TYPE_NEW"
                               th:checked="${items.typeName =='TYPE_NEW'}" hidden/>
                    </tr>
                </tbody>
            </table>
        </div>
            <br>
        <div class="row justify-content-center">
            <button type="submit">Оформить заказ с descriptions</button>
        </div>
    </form>
</div>

<script type="text/javascript"  th:src="@{/js/script1.js}" src="../static/js/script1.js"></script>
<div th:insert="~{fragments/header :: footer}"> </div>
</body>
</html>